.postsBlock {
    padding: 10px;
}

.addPost {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.addPost textarea {
    width: 70%;
    background-color: #fff;
    color: #6e7882;
    resize: none;
}

.addPost button{
    margin-left: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: #575f66;
    color: #fff;
}