.header {
  grid-area: h;
  background-color: #3498db;
  display: flex;
  align-items: center;
}
.header img {
  width: 45px;
  margin-left: 10px;
}

.header p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.login a {
  float: right;
}
