.nav {
    grid-area: n;
    background-color: #334a5c ;
    
    
  }
.item {
  padding: 10px 10px;
}

.item:hover{
  background-color: #22323f;;
}

.item a {
  color: #cad8e2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
}

.item a.active {
  color: #fff;
}

